MODELO .env
# FLASK / APP
SECRET_KEY=sua_chave
DATABASE_URL=sqlite:///seubanco.db

MAX_CONTENT_LENGTH=16777216

FLASK_HOST=0.0.0.0
FLASK_PORT=
FLASK_DEBUG=False

# PASTAS / UPLOADS
ALVARAS_UPLOAD_FOLDER=static/uploads/alvaras
CERTIFICADOS_UPLOAD_FOLDER=static/uploads/certificados
ECPFS_UPLOAD_FOLDER=static/uploads/certificados

CONTRATOS_TEMPLATES_FOLDER=app/document_templates
CONTRATOS_OUTPUT_FOLDER=static/generated/contratos

# TRELLO
# Necessário se NOTIFICACOES_PROVIDER=trello
TRELLO_API_KEY=      # chave da API do Trello (gerar pelo https://trello.com/power-ups/admin)
TRELLO_TOKEN=        # token da sua conta Trello (conectar o aplicativo criado na conta trello desejada)
TRELLO_ALVARAS_LIST_ID=       # ID da lista que quer os card de alvarás criados
TRELLO_CERTIFICADOS_LIST_ID=  # ID da lista que quer os card de certificados criados

NOTIFICACOES_PROVIDER=trello

# INTRANET / SYNC - alternativa para enviar  os dados para um banco SUPABASE
# necessário criar uma edge function no supabase para receber as informações

SUPABASE_SYNC_URL=
SYNC_TOKEN=
SISTEMA_ID=

INTRANET_TIPO_SYNC=notificacao_validade

# =========================
# BANCO EXTERNO DOMÍNIO
# pyodbc / SQL Anywhere
# =========================
DOMINIO_HOST=
DOMINIO_PORT=
DOMINIO_DB=
DOMINIO_USER=
DOMINIO_PASSWORD=

DOMINIO_ENGINE=dominio
DOMINIO_ODBC_DRIVER=SQL Anywhere 17

# =========================
# BANCO EXTERNO DOMÍNIO
# pyodbc / SQL Anywhere
# =========================
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_gmail
SMTP_PASSWORD=senhas_de_app_google
SMTP_FROM=gmail_de_envio

FRONTEND_URL=http://localhost:5188

PASSWORD_RESET_SALT=recuperacao-senha-salt
PASSWORD_RESET_EXPIRATION_SECONDS=900

